body{
    background-color: bisque;
    text-align: center;
    font-family: 'Segoe UI', Courier, monospace;
}


p, h1{
    margin: 20px;
}
h2{
    margin: 20px;
    font-size: 70px;
}

button{
    padding: 10px;
}
